
/* Resetando margens e preenchimentos padrão de todos os elementos */
* {
    margin: 0;  /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no cálculo de largura e altura */
}

/* Definição do fundo da página com gradiente e fonte padrão */
body {
    background: linear-gradient(90deg, #ffffff, #89bcff, #357ac2); /* Gradiente de fundo */
    font-family: 'Simonetta', cursive; /* Fonte padrão */
    text-align: center; /* Centraliza o texto */
    overflow-x: hidden; /* Esconde o overflow horizontal */
}

@media screen and (max-width: 375px) {  /* Estilos para telas pequenas */
    .body-container { 
        width: 100%; /* Largura total da tela */
        padding: 0; /* Remove preenchimento */
        min-width: 100%; /* Garante que a largura mínima seja 100% */
    }
}

/* Container principal para centralizar os elementos */
.principal-container {
    display: flex; /* Exibe os elementos como flexbox */
    flex-direction: column; /* Direção da coluna */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: center; /* Justifica o conteúdo ao centro */
    padding: 0; /* Remove preenchimento */
}

  /* Estilização do logotipo */
        .logo-container img {
            max-width: 180px; /* Largura máxima da imagem */
            height: auto; /* Altura automática */
        }




/* Estilização do menu de navegação */
.navegacao-container {
    background-color: black; /* Cor de fundo do menu */
    padding: 10px 0; /* Preenchimento superior e inferior */
    width: 100%; /* Largura total */
    border-radius: 0; /* Bordas arredondadas */
    margin-top: 10px; /* Margem superior */
}

/* Ícone do menu (hambúrguer) */
.menu-toggle {
    display: none;  /* Esconde o ícone por padrão */
    font-size: 32px; /* Tamanho da fonte */
    cursor: pointer;    /* Cursor de ponteiro ao passar o mouse */
    color: #e4e4e4; /* Cor do texto */
    user-select: none; /* Impede a seleção do texto */
}

@media screen and (max-width: 768px) {
     .menu-toggle {
        display: block; /* Exibe o ícone em telas pequenas */
        margin-right: 80%; /* Margem direita para posicionamento */
        word-wrap: none; /* Impede quebra de linha */
        font-size: 32px; /* Tamanho da fonte do ícone */
        cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
        color: #e4e4e4; /* Cor do texto */
        user-select: none; /* Impede a seleção do texto */
        z-index: 20; /* Z-index para posicionamento */
        position: relative; /* Posicionamento relativo */
    }
    .navegacao-lista {
        display: flex; /* Exibe a lista de navegação como flexbox */
        flex-direction: column; /* Direção da coluna */
        gap: 15px; /* Espaçamento entre os itens */
        background-color: #f0f0f0; /* Cor de fundo */
        position: fixed; /* Posicionamento fixo */
        top: 50%; /* Posicionamento vertical */
        left: 50%; /* Posicionamento horizontal */
        transform: translate(-50%, -50%) scale(0.95); /* Centraliza e escala */
        z-index: 9; /* Z-index para posicionamento */
        padding: 20px 30px; /* Preenchimento */
        border-radius: 12px; /* Bordas arredondadas */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra */
        visibility: hidden; /* Oculta a lista de navegação */
        opacity: 0; /* Opacidade inicial */
        pointer-events: none; /* Impede interações */
        transition: opacity 0.3s, transform 0.3s; /* Transições */
        min-width: 200px; /* Largura mínima */
        align-items: center; /* Alinha os itens ao centro */
    }
    .navegacao-lista.ativa {
        visibility: visible; /* Exibe a lista de navegação */
        opacity: 1; /* Opacidade final */
        pointer-events: auto; /* Permite interações */
        transform: translate(-50%, -50%) scale(1); /* Restaura a escala */
    }
}

/* Estilo da lista de navegação */
.navegacao-lista {
    list-style: none; /* Remove marcadores da lista */
    display: flex; /* Exibe os itens como flexbox */
    justify-content: center; /* Centraliza os itens */
    gap: 15px; /* Espaçamento entre os itens */
}
.navegacao-item {
    display: inline; /* Exibe os itens em linha */
}
.navegacao-link {
    font-family: "Simonetta", serif; /* Fonte do link */
    font-weight: 400; /* Peso da fonte */
    text-decoration: none; /* Remove sublinhado */
    color: rgb(255, 255, 255); /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    padding: 8px 12px; /* Preenchimento */
    position: relative; /* Posicionamento relativo */
} 
.navegacao-lista.ativa .navegacao-link {
    color: #000000; /* Cor do texto ativo */
}
.navegacao-link:hover {
    background-color: transparent; /* Cor de fundo ao passar o mouse */
}
.navegacao-link::after {
    content: ""; /* Cria um pseudo-elemento */
    display: block; /* Exibe como bloco */
    width: 0;   /* Largura inicial */
    height: 3px; /* Altura do pseudo-elemento */
    background-color: #357ac2; /* Cor de fundo */
    transition: width 0.3s ease; /* Transição suave */
    position: absolute; /* Posicionamento absoluto */
    bottom: -5px; /* Distância do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Transforma para centralizar */
}
.navegacao-link:hover::after { 
    width: 100%; /* Largura total ao passar o mouse */
}





/* Seção de introdução */
.introducao-container {
    background-color: #e4e4e4; /* Cor de fundo */
    width: 100%; /* Largura total */
    text-align: center; /* Centraliza o texto */
}
.introducao-titulo {
    font-size: 40px; /* Tamanho da fonte */
    text-shadow:    /* sombra principal */
      0 2px 8px rgba(0,0,0,0.18),   /* sombra principal suave */
      0 1px 0 #000000,                  /* brilho sutil em cima */
      2px 2px 0 rgba(63,133,198,0.10); /* leve sombra azul */
    font-family: 'Arial', sans-serif; /* Fonte */
    color: #1d5b95; /* Cor do texto */
}
.introducao-texto {
    font-family: 'Simonetta', cursive; /* Fonte do texto */
    font-size: 18px; /* Tamanho da fonte */
    color: black; /* Cor do texto */
    margin-top: 10px; /* Margem superior */
}
@media screen and (max-width:375px) {
    .introducao-container {
        padding: 40px 40px; /* Preenchimento */
    }
    .introducao-titulo {
        font-size: 32px; /* Tamanho da fonte */
    } 
    .introducao-texto {
        font-size: 16px; /* Tamanho da fonte */
    }
}
@media screen and (max-width: 1024px) {
    .introducao-container {
        padding: 40px 40px; /* Preenchimento */
    }
    .introducao-titulo {
        font-size: 32px; /* Tamanho da fonte */
    }
    .introducao-texto {
        font-size: 16px; /* Tamanho da fonte */
    }
}
@media screen and (max-width: 768px) {
    .introducao-container {
        padding: 40px 40px; /* Preenchimento */
    }
    .introducao-titulo {
        font-size: 32px; /* Tamanho da fonte */
    }
    .introducao-texto {
        font-size: 16px; /* Tamanho da fonte */
    }
}
@media screen and (max-width: 480px) {
    .introducao-container {
        padding: 30px 10px; /* Preenchimento */
    }
    .introducao-titulo {
        font-size: 28px; /* Tamanho da fonte */
    }
    .introducao-texto {
        font-size: 14px; /* Tamanho da fonte */
    }
}

/* Estilos para o carrossel */
.carrossel {
    width: 100%; /* Largura total */
    margin: auto; /* Centraliza horizontalmente */
    overflow: hidden;   /* Esconde o overflow */
    border: 1px solid #0b0b0b; /* Borda */
}
.carrossel img {
    width: 100%; /* Largura total da imagem */
    height: auto; /* Altura automática */
    display: block; /* Exibe como bloco */
}
.slick-prev, .slick-next {
    background: none; /* Remove fundo */
    color: gray; /* Cor do icone */
    z-index: 2; /* Z-index para posicionamento */
    position: absolute; /* Posicionamento absoluto */
    top: 50%; /* Posicionamento vertical */
    transform: translateY(-50%); /* Centraliza verticalmente */ 
    transition: color 0.3s, transform 0.3s; /* Transições */ 
    opacity: 0.8; /* Opacidade */
    cursor: pointer; /* Cursor como ponteiro */
    border: none; /* Sem borda */
    outline: none; /* Sem contorno */
    font-size: 30px; /* Tamanho da fonte */
}
.slick-prev:hover, .slick-next:hover {
    color: #555; /* Cor ao passar o mouse */
    transform: translateY(-50%) scale(1.2); /* Centraliza verticalmente e aumenta o tamanho */
    opacity: 1; /* Opacidade total */
}
.slick-prev {
    left: 15px;  /* Distância da esquerda */
} 
.slick-next {
    right: 15px; /* Distância da direita */
}
.slick-prev::before, .slick-next::before {
    content: ""; /* Cria um pseudo-elemento */
    width: 20px; /* Largura do pseudo-elemento */
    height: 20px; /* Altura do pseudo-elemento */
    background-color: gray; /* Cor de fundo */
    position: absolute; /* Posicionamento absoluto */
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%); /* Forma do pseudo-elemento */
}
.slick-prev::before {
    transform: rotate(45deg); /* Rotaciona 45 graus */
    left: 0; /* Distância da esquerda */
    top: 0; /* Distância do topo */
}
.slick-next::before {
    transform: rotate(-45deg); /* Rotaciona -45 graus */
    right: 0; /* Distância da direita */
    top: 0; /* Distância do topo */
}
@media (max-width: 768px) {
    .slick-prev, .slick-next {
        font-size: 20px; /* Tamanho da fonte */
    }
}







/* Sobre Residencial */
.sobre-residencial {
    width: 100%; /* Largura total */
    max-width: 100%; /* Largura máxima */
    padding: 40px; /* Preenchimento */
    background-color: #7da6cc; /* Cor de fundo */
    margin: 1px auto 0 auto; /* Margem superior e centralização */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no cálculo de largura e altura */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}
.sobre-residencial h2 {
    font-size: 40px; /* Tamanho da fonte */
   text-shadow:     /* sombra principal */
      0 2px 8px rgba(0,0,0,0.18),   /* sombra principal suave */
      0 1px 0 #000000,                  /* brilho sutil em cima */
      2px 2px 0 rgba(63,133,198,0.10); /* leve sombra azul */
    font-family: 'Open Sans', sans-serif; /* Fonte */
    color: #1d5b95; /* Cor do texto */
    margin-bottom: 20px;    /* Margem inferior */


}

.sobre-residencial p {
    font-size: 19px; /* Tamanho da fonte */
    font-family: 'Grand Cru S', sans-serif; /* Fonte */
    color: #000000; /* Cor do texto */
    line-height: 1.6; /* Altura da linha */
    max-width: 80%; /* Largura máxima */
    margin-left: auto; /* Margem esquerda automática */
    margin-right: auto; /* Margem direita automática */
    margin-bottom: 30px; /* Margem inferior */
}
.sobre-residencial .botao-s {
    padding: 12px 24px; /* Preenchimento */
    background-color: #8a9dbd; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: 2px solid black; /* Borda */
    border-radius: 25px; /* Bordas arredondadas */
    font-family: 'Grand Cru S', sans-serif; /* Fonte */
    font-weight: bold; /* Peso da fonte */
    text-decoration: none;   /* Texto sem decoração */
    cursor: pointer; /* Cursor de ponteiro */
    position: relative; /* Posicionamento relativo */
    top: -5px; /* Distância do topo */
    transition: all 0.3s ease; /* Transições */
}
.sobre-residencial .botao-s:hover {
    background-color: #a7bad5; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
    transform: scale(1.05); /* Escala ao passar o mouse */
}
@media screen and (max-width: 768px) {
    .sobre-residencial {
        padding: 20px; /* Preenchimento reduzido */
        margin-top: 1px; /* Margem superior reduzida */
    }
    .sobre-residencial h2 {
        font-size: 32px; /* Tamanho da fonte reduzido */
    }
    .sobre-residencial p {
        font-size: 16px; /* Tamanho da fonte reduzido */
        max-width: 90%; /* Largura máxima reduzida */
    }
    .sobre-residencial .botao-s {
        padding: 10px 20px; /* Preenchimento reduzido */
    }
}
@media screen and (max-width: 480px) {
    .sobre-residencial h2 {
        font-size: 28px; /* Tamanho da fonte ainda mais reduzido */
    }
    .sobre-residencial p {
        font-size: 14px; /* Tamanho da fonte ainda mais reduzido */
    }
    .sobre-residencial .botao-s {
        padding: 8px 18px; /* Preenchimento ainda mais reduzido */
    }
}

/* Seção Descubra Nossas Unidades */
.unidades-container {
    width: 100%; /* Largura total */
    background-color: #8a9dbd; /* Cor de fundo */
    padding: 30px; /* Preenchimento */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no cálculo de largura e altura */
    text-align: center; /* Centraliza o texto */
}
.unidades-titulo {
    font-size: 24px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif; /* Fonte */
    text-shadow:   /* sombra principal */
      0 2px 8px rgba(0,0,0,0.18),   /* sombra principal suave */
      0 1px 0 #000000,                  /* brilho sutil em cima */
      2px 2px 0 rgba(63,133,198,0.10); /* leve sombra azul */
    font-weight: bold; /* Peso da fonte */
    color: #1d5b95; /* Cor do texto */
    margin-bottom: 15px; /* Margem inferior */
    margin-left: 50%; /* Margem esquerda */
}
.unidades-texto {
    font-size: 18px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif; /* Fonte */
    color: #000000; /* Cor do texto */
    width: 80%; /* Largura de 80% */
    max-width: 530px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: justify; /* Alinhamento justificado */
    line-height: 1.5; /* Altura da linha */
    margin-left: 60%; /* Margem esquerda para centralizar o texto */
}
.mapa-container {
    width: 35%; /* Largura do mapa */
    height: 206px; /* Altura do mapa */
    margin-top: -190px; /* Margem superior negativa para sobreposição */
    margin-left: 10%; /* Margem esquerda */
    border: 3px solid #555; /* Borda do mapa */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no cálculo de largura e altura */
    position: absolute; /* Posicionamento absoluto */
    z-index: 1; /* Z-index para posicionamento */
}
/* Botão centralizado abaixo do texto */
.botao-unidades {
    display: block;  /* Exibe como bloco */
    width: fit-content; /* Largura ajustada ao conteúdo */
    margin: 20px auto 0 auto; /* Margem superior e centralização */
    margin-left: 75%; /* Margem esquerda para centralizar o botão */
    padding: 10px 20px; /* Preenchimento */
    background-color: #e4e4e4; /* Cor de fundo */
    color: #000; /* Cor do texto */
    border: 2px solid black; /* Borda */
    border-radius: 20px; /* Bordas arredondadas */
    font-weight: bold; /* Peso da fonte */
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer;    /* Cursor de ponteiro */
    font-family: 'Montserrat', sans-serif;  /* Fonte */
}


/* Responsividade para telas até 768px */
@media (max-width: 768px) {
    .unidades-container {
        display: flex;                /* Usa flexbox para organizar os filhos */
        flex-direction: column;       /* Coloca os elementos em coluna (um embaixo do outro) */
        align-items: center;          /* Centraliza os itens horizontalmente */
        padding: 20px 5px;            /* Reduz o padding lateral */
        position: relative;           /* Mantém o contexto de posicionamento */
    }
    .unidades-titulo {
        font-size: 20px;              /* Diminui o tamanho do título */
        width: 100%;                  /* Faz o título ocupar toda a largura */
        margin-left: 0;               /* Remove a margem à esquerda */
        margin-bottom: 15px;          /* Espaço abaixo do título */
        text-align: center;           /* Centraliza o texto */
    }
    .mapa-container {
        position: static;             /* Remove o posicionamento absoluto */
        width: 90vw;                  /* Largura quase total da tela */
        max-width: 400px;             /* Limita a largura máxima */
        height: 180px;                /* Altura reduzida do mapa */
        margin: 0 auto 15px auto;     /* Centraliza e adiciona espaço abaixo */
        display: block;               /* Garante que seja um bloco */
    }
    .unidades-texto {
        font-size: 16px;              /* Diminui o tamanho da fonte */
        width: 100%;                  /* Ocupa toda a largura possível */
        max-width: 500px;             /* Limita a largura máxima */
        margin: 0 auto;               /* Centraliza horizontalmente */
        text-align: center;           /* Centraliza o texto */
        padding-left: 0;              /* Remove padding à esquerda */
    }
    .botao-unidades {
        margin-left: 0;               /* Remove margem à esquerda */
        margin-right: 0;              /* Remove margem à direita */
        width: 100%;                  /* Botão ocupa toda a largura possível */
        max-width: 220px;             /* Limita a largura máxima do botão */
        margin-top: 78px;          /* Espaço acima do botão */
    }
}

/* Responsividade para telas até 480px */
@media (max-width: 480px) {
    .unidades-container {
        padding: 10px 2px;            /* Padding ainda menor nas laterais */
    }
    .unidades-titulo {
        font-size: 18px;              /* Título menor para caber em telas pequenas */
    }
    .mapa-container {
        width: 98vw;                  /* Quase toda a largura da tela */
        max-width: 98vw;              /* Limita para não passar da tela */
        height: 120px;                /* Altura menor do mapa */
    }
    .unidades-texto {
        font-size: 14px;              /* Fonte menor */
        width: 100%;                  /* Ocupa toda a largura */
        max-width: 98vw;              /* Limita para não passar da tela */
        padding-left: 0;              /* Sem padding à esquerda */
    }
}




/* Rodapé */
.rodape {
    width: 100%; /* Largura total */
    background-color: #002557; /* Cor de fundo */
    display: flex; /* Exibe os elementos como flexbox */
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 20px 40px 10px 40px; /* Preenchimento */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    border-top: 2px solid #444; /* Borda superior */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no cálculo de largura e altura */
    flex-wrap: wrap; /* Quebra de linha para telas menores */
}
.paragrafo1,
.paragrafo2,
.icones-centro {
    flex: 1; /* Cada elemento ocupa o mesmo espaço */
}
.paragrafo1 {
    text-align: left; /* Alinha o texto à esquerda */

}

.paragrafo2 {
    text-align: right; /* Alinha o texto à direita */
}
.icones-centro {
    display: flex; /* Exibe os ícones como flexbox */
    justify-content: center; /* Centraliza os ícones */
    align-items: center; /* Alinha os ícones verticalmente */
    gap: 25px; /* Espaçamento entre os ícones */
    font-size: 26px; /* Tamanho da fonte dos ícones */
}
.icones-centro a {
    color: white; /* Cor dos ícones */
    text-decoration: none; /* Remove sublinhado */
    transition: color 0.3s; /* Transição suave de cor */
}
.icones-centro a:hover {
    color: #00bfff; /* Cor ao passar o mouse */
}
/* Navegação no final */
.nav-final {
    width: 100%; /* Largura total */
    margin-top: 20px; /* Margem superior */
    text-align: center; /* Centraliza o texto */
}
.nav-final ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento da lista */
    margin: 0; /* Remove margem da lista */
    display: flex; /* Exibe os itens como flexbox */
    flex-wrap: wrap; /* Permite quebra de linha */
    justify-content: center; /* Centraliza os itens */
    gap: 20px; /* Espaçamento entre os itens */
    font-weight: normal; /* Remove negrito da fonte */
}
.nav-final a {
    color: white; /* Cor do link */
    text-decoration: none; /* Remove sublinhado */
    font-size: 14px; /* Tamanho da fonte */
    transition: color 0.3s; /* Transição suave de cor */
}
.nav-final a:hover {
    color: #00bfff; /* Cor ao passar o mouse */
}
/* Responsivo */
@media (max-width: 768px) {
    .rodape {
        flex-direction: column; /* Direção da coluna */
        text-align: center; /* Centraliza o texto */
    }
    .paragrafo1,
    .paragrafo2,
    .icones-centro {
        flex: unset; /* Remove o flex */
        width: 100%; /* Largura total */
        margin: 10px 0; /* Margem vertical */
        text-align: center; /* Centraliza o texto */
    }
    .nav-final ul {
        flex-direction: column; /* Direção da coluna */
        gap: 10px; /* Espaçamento entre os itens */
    }
}


/* Botão Flutuante WhatsApp */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 24px;
  right: 24px;
  background: #25D366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
}
.whatsapp-float:hover {
  box-shadow: 2px 4px 16px rgba(0,0,0,0.4);
  background: #22bb5b;
}
.whatsapp-float img {
  width: 34px;
  height: 34px;
}

@media (max-width: 600px) {
  .whatsapp-float {
    width: 48px;
    height: 48px;
    bottom: 16px;
    right: 16px;
  }
  .whatsapp-float img {
    width: 26px;
    height: 26px;
  }
}